$primary-color: brown !default;
$secondary-color: indianred !default;
$background-color: ghostwhite !default;
$foreground-color: #555 !default;
$disable-color: #aaa !default;
$link-color: #fff !default;
$shadow-color: rgba(0, 0, 0, 0.075);

$red-color: lighten(orangered, 15%) !default;
$orange-color: lighten(orange, 15%) !default;
$yellow-color: lighten(gold, 15%) !default;
$grey-color: #eee !default;
