@mixin vendor-prefix($name, $args) {
  -webkit-#{$name}: $args;
     -moz-#{$name}: $args;
      -ms-#{$name}: $args;
       -o-#{$name}: $args;
          #{$name}: $args;
}

html {
  background: $background-color;
  color: $foreground-color;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

a {
  color: $foreground-color;
  text-decoration: none;
  @include vendor-prefix(transition, color 0.2s ease-in);
}

label p {
  margin: 0.25em 0;
}

input[type="email"],
input[type="text"] {
  width: 100%;
  @include vendor-prefix(box-sizing, border-box)
}

input {
  background: white;
  border: solid 1px #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 2px $shadow-color inset, 0 1px 4px $shadow-color;
  color: #aaa;
  outline: none;
  padding: 0.4em;
  transition: 500ms;
}

input:focus {
  border-color: lighten($primary-color, 40%);
  box-shadow: 0 1px 2px $shadow-color inset, 0 0 7px lighten($primary-color, 40%);
}

ul.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  color: $disable-color;
}
::-moz-input-placeholder {
  color: $disable-color;
}
:-moz-input-placeholder {
  color: $disable-color;
}
:-ms-input-placeholder {
  color: $disable-color;
}

$colors:
  red $red-color,
  orange $orange-color,
  yellow $yellow-color,
  grey $grey-color;

@each $color in $colors {
  .#{nth($color, 1)}-border {
    border-color: nth($color, 2)
  }
}

.full {
  display: -webkit-box;
  display:    -moz-box;
  display:     -ms-box;
  display:      -o-box;
  display:         box;
  @include vendor-prefix(box-orient, horizontal);
  @include vendor-prefix(box-align, center);
  @include vendor-prefix(box-pack, center);
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.highlight {
  background-color: brown;
  font-size: 2em;

  h1 {
    color: indianred;
    font-size: 3.5em;
    font-weight: normal;
    margin: 0;
    strong {
      color: ghostwhite;
    }
  }
  p {
    color: lightcoral;
    margin: 0.1em 0;
  }
  
  form {
    font-size: 0.85em;
    margin-top: 2em;
    text-align: center;
    padding: 0 1em;

    input {
      margin: 0.5em 0;
      padding: 0.2em 0.5em;
      border: none;
      border-radius: 3px;
    }
    input + input {
      margin-left: 0.5em;
    }
    input[type=email] {
      background-color: ghostwhite;
      color: indianred;
      max-width: 12em;
      width: 100%;
    }
    input[type=submit] {
      background-color: indianred;
      color: ghostwhite;
    }
  }
}
